:root{
    background-color: firebrick;
    font-family: 'Lobster', cursive;
}

button{
    background-color: white;
    width: 5vw;
    height: 5vw;
    border-radius: 400px;
    font-family: 'Lobster', cursive;
}

#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 600px;
    height: 600px;
    column-gap: 0px;
    row-gap: 0px;
    position: fixed;
    top: 63%;
    left: 50%;
    border-style: inset;
    border-width: 8px;
    border-color: rgb(49, 47, 45);
  
  transform: translate(-50%, -50%);
}

#headerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 11vh;
}

h1{
    
    color: goldenrod;
}

.innerSquare{
   /* background-color: black;*/
    border-color: rgb(77, 77, 77);
    border-style: solid;
    border-width: 1px;
    justify-self: stretch;
    background-color: white;
}

